body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    background-color: hsla(0, 0%, 45%, 0.564);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin-left: 100px;
}

input {
    padding: 10px 100px;
    max-width: 100px;
    max-height: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);

}

button {
    background-color: rgb(109, 225, 230);
    border-radius: 10px;
    padding: 8px 20px;
    border-color: aqua;
    color: rgba(0, 0, 0, 0.519);
    font-weight: bold;

}